<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Donuts</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Flavor</th>
    <th>Frosting</th>
    <th>Extras</th>
    <th>In Stock</th>
    <th>ID</th>
  </tr>
  <% if(typeof donuts != "undefined" && donuts.length > 0){ %>
    <% donuts.forEach(function(donuts){ %>
      <tr>
        <td><%= donuts.flavor %></td>
        <td><%= donuts.frosting %></td>
        <td><%= donuts.extras %></td>
        <td><%= donuts.inStock %></td>
        <td><%= donuts.id %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="5">0 records found</td>
      </tr>
  <% } %>
  
</table>


